.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fa0;
  height: 100vh;
}
.Title {
  font-size: 5vh;
  margin: 0;
  text-align: center;
}
.Header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background: #fa0;
}
