.ModalClipboardState {
  font-size: 2vh;
  text-align: center;
}
.ModalClipboardState {
  width: 50vh;
  height: 40vh;
  background: var(--c00);
  border-radius: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  padding: 1vh 0;
  box-shadow: 0 0 1vh #3333;
}
.ModalClipboardState button {
  width: 85%;
  height: 4vh;
  background: #008cff;
  outline: none;
  border: none;
  margin-top: 2vh;
  border-radius: 1vh;
  cursor: pointer;
  color: #fafafa;
  font-size: 1.2vh;
  line-height: 1.2vh;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 650px) {
  .ModalClipboardState {
    width: 30vh;
    height: 35vh;
  }
}
.DataPeview {
  width: 80%;
  max-height: 5vh;
  max-height: 10vh;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--c03);
  color: var(--c15);
  border-radius: 1vh;
  padding: 1.5vh;
  text-align: center;
  flex-direction: column;
  font-size: 1.4vh;
  line-height: 1.4vh;
}
.DataPeview::-webkit-scrollbar {
  display: none;
}
.DataPeview b {
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}
.CheckBoxContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vh;
  font-size: 1.3vh;
  line-height: 1.3vh;
  color: var(--c10);
  font-weight: 600;
}
