.EmergenteContainer {
  width: 33vh;
  height: 8vh;
  background: var(--c01);
  position: fixed;
  z-index: 2000;
  top: 15vh;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* animation: Emergente 0.3s linear reverse forwards; */
}
@media only screen and (max-width: 650px) {
  .EmergenteContainer {
    width: 18vh;
    height: 15vh;
  }
}
@keyframes Emergente {
  0% {
    opacity: 0;
    top: 0vh;
  }
  100% {
    opacity: 1;
    top: 45vh;
  }
}
