.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
  position: fixed;
  bottom: 0;
}
.Footer > div {
  flex: 1;
}
.Timodieas {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TimoideasLogo {
  width: 4vh;
}
.Configuracion {
  flex: 8 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.ConfigButtom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background: var(--c03);
  color: var(--c10);
}
