.ParrafoContainer {
  margin-top: 5vh;
  height: 70vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Parrafo {
  width: 90%;
  text-align: center;
}
.Frase {
  font-size: 4em;
  font-weight: 700;
  list-style-type: none;
  color: var(--c20);
  /* width: 80%; */
}
