.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  top: 0;
  width: 50%;
  height: 15vh;
  z-index: 2;
}
.Languages {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  flex-direction: column;
  user-select: none;
  /* background: var(--c12); */
  text-transform: uppercase;
  padding: 1vh;
}
.Languages:active {
  transform: scale(0.98);
}
.LanguageNative {
  color: var(--c08);
  font-size: 1.9vh;
  line-height: 1.9vh;
  font-weight: 500;
  pointer-events: none;
}
.LanguageActive {
  font-size: 5vh;
  line-height: 5vh;
  font-weight: 700;
  pointer-events: none;
  text-shadow: 0 0 3vh #fafafa;
}
