.ParrafoContainer {
  margin-top: 5vh;
  height: 70vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.Smoke {
  height: 70vh;
  width: 80vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.Smoke div {
  transition: 0.5s;
  flex: 1;
  z-index: 1;
}
.Smoke div:nth-child(1) {
  background: linear-gradient(
    var(--c00),
    #000d,
    #000a,
    #000a,
    #000a,
    transparent
  );
}
.Smoke div:nth-child(2) {
  background: linear-gradient(
    transparent,
    #000a,
    #000a,
    #000a,
    #000d,
    var(--c00)
  );
}
.Parrafo {
  position: relative;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  transition: 0.5s;
}
.Parrafo::-webkit-scrollbar {
  display: none;
}

.FraseI {
  color: var(--c20);
}
.Frase,
.FraseI {
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 700;
  color: var(--c20);
}
.Frase {
  font-size: 2em;
  opacity: 0.5;
}
