:root {
  --c00_: #0d1117;
  --c00: #000000;
  --c01: #070707;
  --c02: #0f0f0f;
  --c03: #141414;
  --c04: #1f1f1f;
  --c05: #222222;
  --c06: #333333;
  --c07: #444444;
  --c08: #555555;
  --c09: #666666;
  --c10: #777777;
  --c11: #999999;
  --c12: #aaaaaa;
  --c13: #bbbbbb;
  --c14: #cccccc;
  --c15: #dddddd;
  --c16: #e3e3e3;
  --c17: #ededed;
  --c18: #f3f3f3;
  --c19: #fafafa;
  --c20: #ffffff;
  --c20_: #c9d1d9;
}
html {
  margin: 0;
  padding: 0;
}
/* *:not(body) {
  transition: background 0.5s ease;
} */
body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  transition: background 0.5s ease;
}
a {
  text-decoration: none;
  color: #fb1;
  font-weight: 700;
  text-align: center;
}
a:hover {
  color: #fa0;
}
